<h1 style="text-align:center;">Articles</h1>

<div style="border: 1px solid black;">
    <ul>
        <% @articles.each do |article| %>
            <li>
                <%= link_to article.title, article %>
            </li>
        <% end %>
    </ul>

    <%= link_to "New Article", new_article_path%>
</div>
