<h1 style="text-align:center;">Articles</h1>

<div style="border: 1px solid black;">
    <ul>
        <% @articles.each do |article| %>
            <li>
            <%= article.title %> -
            <%= article.body%>
            </li>
        <% end %>
    </ul>
</div>
